

@media only screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
    body, html {
        width: 100%;
        margin: 0;
    }
    /* general Sections */
    #my-mission-section-container, #aboutme-section-container, #contact-section-container {
        min-height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    /* My Mission Section layout */
    /* This code will fix Mymission; About me; Services ccontent containers */
    .mission-container-content, .aboutme-container-content, .serv1, .serv2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "text";
        width: 100%;
        height: auto;
    }
    .mission-container-content figure, .aboutme-container-content figure, .serv1 figure , .serv2 figure  {
        grid-area: img;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;
        overflow: hidden;

    }
    .mission-container-content img, .aboutme-container-content img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .aboutme-container-content .content-text{
        grid-area: text;
    }

    /* About me Section */
    #aboutme-section-container {
        padding: 10px;
        margin: 0 auto;
        background-color: var(--ocean-blue);
    }
    .aboutme-container-content {
        padding: 0;
    }
    
    .aboutme-container-content .content-text {
        grid-area: text;
        padding: 0;
        font-size: 1.2em;
        text-align: center;
        max-width: 100%;
    }
    .aboutme-container-content .content-text p {
        margin: 10%;
    }
    /* services */


    .services-container-content-father {
        display: grid;
        grid-template-rows: 1fr 1px 1fr;
        max-width: 100%;
        width: 100%;
    }

    .serv1 img, .serv2 img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    

}
