

@media only screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }
    body, html {
        width: 100%;
        margin: 0;
    }
    /* general Sections */
    #my-mission-section-container, #aboutme-section-container, #contact-section-container {
        min-height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    /* My Mission Section layout */
    .mission-container-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "text";
        width: 100%;
        height: auto;
    }
    .mission-container-content figure {
        grid-area: img;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .aboutme-container-content .content-text{
        grid-area: text;
    }

    /* About me Section */
    .aboutme-container-content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .aboutme-container-content img {
        margin-top: 20px;
    }
    .aboutme-container-content .content-text {
        margin: 0 auto;
        padding: 0;
        height: auto;
        max-width: 438px;
    }
}