@media only screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    body,
    html {
        width: 100%;
        margin: 0;
    }

    body {
        padding-top: 140px;
    }

    /* general Sections */
    #my-mission-section-container,
    #aboutme-section-container,
    #contact-section-container {
        
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .content-text {
        grid-area: text;
        text-align: center;
        max-width: 100%;
    }
    
    .content-paragraph, .service2-content-paragraph {
        font-size: 1.5rem;
        text-align: center;
        margin: 5% auto;
        padding: 0 10px;
    }
    .pre-title {
        font-size: 1.5rem;
        text-align: center;
        margin: 5% auto;
        padding: 0 10px;
    }

    /* navbar */
    #navbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo"
            "menu";
        width: 100%;
        height: auto;
        max-height: 155px;
    }

    #navbar .logo {
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #navbar .nav-buttons {
        grid-area: menu;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 1.5rem;
    }
    /* Scrooling "No Logo" Effect */
    #navbar.scrolled {
        position: fixed;
        top: 0;
        grid-template-rows: 1fr;
        max-height: 70px;
    }

    #navbar.scrolled .logo {
        display: none;
    }

    .nav-buttons a, .nav-buttons a:hover, .nav-buttons a:focus, .nav-buttons a:active, .nav-buttons a:visited, .nav-buttons a::after, .nav-buttons li a::after {
        text-decoration: none !important;
        outline: none !important;
        border: none !important;
        border-bottom: none !important;
        box-shadow: none !important;
        content: '' !important;
        display: inline !important;
    }
    
    /* My Mission Section layout */
    /* This code will fix Mymission; About me; Services ccontent containers */
    .mission-container-content,
    .aboutme-container-content,
    .serv1,
    .serv2,
    .serv3,
    .serv4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "img"
            "text";
        width: 100%;
        height: auto;
    }
    .mission-container-content figure,
    .aboutme-container-content figure,
    .serv1 figure,
    .serv2 figure,
    .serv3 figure,
    .serv4 figure {
        display: flex;
        grid-area: img;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
        justify-content: center;
    }

    .mission-container-content img,
    .aboutme-container-content img,
    .serv1 img,
    .serv2 img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .mission-img img {
        max-width: 100%;
        height: auto;
        display: block;
        justify-self: center;
    }
    
    .mission-container-content .content-text .button {
        font-size: 1.5rem;
    }

    /* About me Section */
    #aboutme-section-container {
        padding: 10px;
        margin: 0 auto;
        background-color: var(--ocean-blue);
    }

    .aboutme-container-content {
        padding: 10px;
    }
    
    /* services */
    .services-container-content-father {
        display: grid;
        grid-template-rows: 1fr 1px 1fr;
        max-width: 100%;
        width: 100%;
    }

    #services-section-container2 {
        margin: 0 auto;
        background-color: var(--ocean-blue);
        min-height: 720px;
        padding: 5px;
        overflow: hidden;
    }

    .services-container-content-child {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "serv3"
            "serv4";
        width: 100%;
        height: 700px;
        overflow: scroll;
        padding: 15px;
    }
    .serv3 {
        grid-area: serv3;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .serv4 {
        grid-area: serv4;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .serv3 img, .serv4 img {
        max-width: 70%;
        height: auto;
        display: block;
    }

    /* Contact Section */
    #contact-section-container {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    #contact-section-container .section-title {
        font-size: 2em;
        text-align: center;
        margin: 40px;
        padding: 0;

    }

    .contact-container-content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }

    .contact-div1 {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        padding: 30px;
    }

    .contact-items-btn {
        padding: 10px;
        border-radius: 10px;
        max-height: 130px;
        width: 70%;
        justify-self: center;
    }
    .contact-items-btn .btn-text {
        font-size: 1.5rem;
        justify-items: start;
    }

    .contact-items-btn .button-icon {
        display: flex;
        max-width: 50px;
        max-height: 50px;
        justify-self: center;
    }
    .contact-div1 .pre-title {
        padding: 0;
        font-size: 1.2rem;
    }

    .contact-div2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
        grid-template-areas: "name name"
            "client-email client-email"
            "services-select services-select"
            "message message"
            "contact-message-button contact-message-button";
        padding: 30px;
        gap: 20px;
        justify-content: center;
    }
    #footer-section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90% 10%;
        grid-template-areas:
            "footer-logo footer-social-media"
            "footer-text footer-text";
        height: auto;
    }

    .footer-logo {
        grid-area: footer-logo;
        padding: 20px;
    }

    .footer-social-media {
        grid-area: footer-social-media;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer-social-media img {
        max-width: 100%;
        max-height: 100%;
        width: 60px;
        height: 60px;
        object-fit: contain;
        opacity: 0.9;
    }

    .footer-text {
        grid-area: footer-text;
        color: var(--ice-beige);
        font-size: 15px;
        text-align: start;
        align-items: baseline;
        padding: 10px;
        height: 100%;
    }
}